body{
  background-color: bisque;
}
.box {
  background: grey;
  margin: 0 auto;
  text-align: center;
  width: 40%;
  height: 60vh;
  border-radius: 10px;
  color: #fff;
}
.dayLight {
  background: yellow;
  color: #333;
}
button {
  background: crimson;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  color: #eee;
  font-weight: 500;
  border-radius: 10px;
  margin: 5px 10px;
}
